:root {
    --pry-Soft-red: hsl(10, 79%, 65%);
    --pry-cyen: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);

    --fw-400: 400;
    --fw-bold: 700;
    --w-90: 90%;
    --br-17: 17px;
    --ff-dm-m: url(assets/DMSans-Medium.ttf);
}

@font-face {
    font-family: 'dm';
    src: url(assets/DMSans-Medium.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* Font-size: 0.875rem; */
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* p{
    font-size: 18px;
    font-family: 'dm';
} */

.head {
    background-color: var(--pry-Soft-red);
    padding: 0 1.5rem;
    width: var(--w-90);
    height: 100px;
    margin-bottom: 2rem;
    border-radius: var(--br-17);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bal-text {
    color: var(--Very-pale-orange);
    font-family: 'dm';
    font-size: small;
    margin-bottom: .4rem;



}

.main-h2 {
    font-family: 'dm';

}

.bal-prc {
    font-family: 'dm';
    color: var(--Very-pale-orange);
}

.chart {
    /* background-color: rgb(235, 211, 191); */
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.chart-days {
    background-color: transparent;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.chart-days-p ,.pp {
    font-family: var(--ff-dm-m);
    color: var(--Medium-brown);
    
}
.pd {
    font-family: var(--ff-dm-m);
    color: var(--Dark-brown);
    
}

.chart-days-prog {
    background-color: var(--pry-Soft-red);
    border-radius: .27rem;
    

    width: 100%;
    height: 100%;
}

.chart-days-prog:hover {
    background-color: hsl(10, 79%, 85%);
}

.chart-days-prog-1:hover {
    background-color: hsl(186, 34%, 80%);
}
.chart-days-prog-1:hover
+.show{
    /* display: block; */
}

.show{
    background-color: var(--Dark-brown);
    width: 50px;
    height: 30px;
    display: none;
    margin-bottom: 10px;
}

.chart-days-prog-1 {
    background-color: var(--pry-cyen);
    border-radius: .27rem;
    width: 100%;
    height: 100%;
}
.hr{
    margin: 1rem 0;
}

#cd1 {
    height: 17.45%;
}

#cd2 {
    height: 34.91%;
}

#cd3 {

    height: 52.36%;
}

#cd4 {
    height: 31.07%;
}

#cd5 {
    height: 23.39%;
}

#cd6 {
    height: 43.28%;
}

#cd7 {
    height: 25.48%;
}

.main {
    background-color: var(--Very-pale-orange);
    width: var(--w-90);
    height: auto;
    border-radius: var(--br-17);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;


}
.footer{
    display: flex;
    /* padding: 2rem; */
    justify-content: space-between;
}
.f2{
    direction: rtl;
}
.attribution {
    margin-top: 1.5rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (min-width:500PX) {
    .head,.main{
        max-width: 400px;
    }
    
}